<center>
<p>
<br>
<section class="text-decoration-underline">Title</section>
<h3><%= "#{@job.title}" %></h3>
<section class="text-decoration-underline">Company</section>
<h4><%= "#{@job.company}" %></h4>
<section class="text-decoration-underline">Location</section>
<h4><%= "#{@job.city}, #{@job.state}" %></h4>
<section class="text-decoration-underline">Salary</section>
<h3>$<%= @job.salary %></h3>
</p>

<%= form_with url: search_jobs_save_path, method: :post, local: true do |f| %>
    <% f.label :id %>
    <%= f.hidden_field :id, :value => "#{@job.id}" %>

    <% f.label :title %>
    <%= f.hidden_field :title, :value => "#{@job.title}" %>

    <% f.label :company %>
    <%= f.hidden_field :company, :value => "#{@job.company}" %>

    <% f.label :city %>
    <%= f.hidden_field :city, :value => "#{@job.city}" %>

    <% f.label :state %>
    <%= f.hidden_field :state, :value => "#{@job.state}" %>

    <% f.label :salary %>
    <%= f.hidden_field :salary, :value => "#{@job.salary}" %>

    <% f.label :contact %>
    <%= f.hidden_field :contact, :value => "#{@job.contact}" %>

    <%= f.submit "Save Job", class: "btn btn-info" %>
    <br><br>
    <%= button_to "Apply!", "#{@job.contact}", class: "btn btn-success"%>
<% end %>
</center>
