<center>
<p>
<%= "#{@job.company}" %>
<br>
<%= "#{@job.city}, #{@job.state}" %>
<br>
Salary: $<%= @job.salary %>
</p>

<%= form_with url: search_jobs_save_path, method: :post, local: true do |f| %>
    <% f.label :id %>
    <%= f.hidden_field :id, :value => "#{@job.id}" %>

    <% f.label :company %>
    <%= f.hidden_field :company, :value => "#{@job.company}" %>

    <% f.label :city %>
    <%= f.hidden_field :city, :value => "#{@job.city}" %>

    <% f.label :state %>
    <%= f.hidden_field :state, :value => "#{@job.state}" %>

    <% f.label :salary %>
    <%= f.hidden_field :salary, :value => "#{@job.salary}" %>

    <% f.label :contact %>
    <%= f.hidden_field :contact, :value => "#{@job.contact}" %>

    <%= f.submit "Save Job" %>
    <br>
    <%= link_to "Apply!", "#{@job.contact}", class: "link-success"%>
<% end %>
</center>