<center>
<br>
<h4><%= "Welcome #{@user.email}!"%></h4>
<p><%= button_to 'Search For Jobs', search_jobs_path, method: :get, class: 'btn btn-info' %></p>

<section class="p-3 mb-2 bg-info text-black"><h5>Jobs You've Saved</h5></section>
<ul class="list-group list-group-flush">
<% @jobs.each do |job| %>
    <li class="list-group-item">
      <section class="text-decoration-underline">
        Location<br>
      </section>
        <h5><%= "#{job.city}, #{job.state}" %></h5>
        <section class="text-decoration-underline">Title</section>
        <h5>
          <%= link_to "#{job.title}", "/jobs/#{job.id}", class:"link-primary" %>
          <span class="badge bg-success">$<%=job.salary %></span>
        </h5>
    </li>
<% end %>
</ul>
</center>