<center>
<section class="p-4 mb-2 bg-info text-black"><h5>Welcome <%= @user.email %>!</h5></section>
<p><%= button_to 'Search For Jobs', search_jobs_path, method: :get, class: 'btn btn-info' %></p>
<% if @jobs.empty? %>
  <section class="p-4 mb-2 bg-info text-black"><h5>You Haven't Saved Any Jobs Yet</h5></section>
<% else %>
<h4><section class="text-decoration-underline">Jobs You've Saved</section></h4>
<ul class="list-group list-group-flush">
<% @jobs.each do |job| %>
    <li class="list-group-item">
      <section class="text-decoration-underline">Title</section>
        <h5><%= job.title %></h5>
      <section class="text-decoration-underline">Location<br>
      </section>
        <h5><%= "#{job.city}, #{job.state}" %></h5>
        <h4><span class="badge bg-success">$<%=job.salary %></span></h4>

<section class="container">
  <section class="row align-items-start">
    <section class="col">
      <%= button_to "Find Homes", "/jobs/#{job.id}", method: :get, class:"btn btn-dark" %>
    </section>
    <section class="col">
      <%= button_to "Delete Job", "/jobs/#{job.id}", method: :delete, class: 'btn btn-danger btn-sm'%>
    </section>
    <section class="col">
      <%= button_to "Saved Homes", "/jobs/#{job.id}/houses/saved", method: :get, class:"btn btn-dark" %>
    </section>
  </section>
</section>
    </li>
<% end %>
<% end %>
</ul>
</center>