<center>
<section class="container">
  <section class="row align-items-start">
    <section class="col">
        <section class="text-decoration-underline">Company</section>
        <h4><%= @job.company %></h4>
        <section class="text-decoration-underline">Salary</section>
        <h3><span class="badge bg-success">$<%=@job.salary %></span></h3>
        <h5><small>Working In </small> <%="#{@job.city}, #{@job.state}"%><h5>
        <%= link_to "Apply!", "#{@job.contact}", class: "btn btn-info"%><br>
        <section class="fs-6">*Utilizing 30% of your monthly income towards mortgage payments*</section>
        <br>
    </section>

<section class="p-3 mb-2 bg-info text-black"><h5>Homes You've Saved For The Position <h4><%= "#{@job.title}"%></h4></h5></section>
    <section class="row align-items-center">
      <section class="col">
        <% if @houses.empty? %>
          Oops! Looks Like You Haven't Saved Any Houses Yet. 
        <% else %>
          <% @houses.each do |house| %>
          <p>
            <h5><strong><%= house.address%></strong><h5>
            <h4><span class="badge bg-success">$<%=house.listing_price %></span></h4>
            <section class="text-decoration-underline">Built In <%= house.year_built%></section>
            <%= house.view%> view
            <br>
            <%= house.bedrooms%> bedrooms, <br>
            <%= "#{house.full_baths} Full Bath(s), #{house.half_baths} Half Bath(s)" %>
            <br>
            Contact <%= house.contact%> with inquiries!
            <%= button_to "Contact Realtor", "/houses/#{house.mls_id}/#{house.contact}", method: :get, class: 'btn btn-info btn-sm'%><br>
            <%= button_to "Delete House", "/jobs/#{@job.id}/houses/#{house.mls_id}", method: :delete, class: 'btn btn-danger btn-sm'%>

            <% house.photos.each do |photo| %>
              <img src=<%= "#{photo}" %>>
            <% end %>
          </p>
          <br><br>
          <% end %>
        <% end %>
</center>
      </section>
  </section>
  