<center>
<% if @houses.empty? %>
  <section class="p-3 mb-2 bg-info text-black"><h5>Oops! There Are No Houses To Show For This Position</h5></section>
  <%= button_to "Delete Job", "/jobs/#{@job.id}", method: :delete, class: 'btn btn-danger btn-sm'%>
</center>
<% else %>
  <section class="container">
    <section class="row align-items-start">
      <section class="col">
        <center>
        <br>
          <section class="text-decoration-underline">Working For</section>
          <h4><%= @job.company %></h4>
          <section class="text-decoration-underline">As A</section>
          <h4><%= "#{@job.title}"%></h4>
          <section class="text-decoration-underline">Earning</section>
          <h3><span class="badge bg-success">$<%=@job.salary %></span></h3>
          <h4><small>Can Afford You These Homes In</small> <%="#{@job.city}, #{@job.state}"%><h4>
          <%= link_to "Apply!", "#{@job.contact}", class: "btn btn-info"%>
          <section class="fs-6">*Utilizing 30% of your monthly income towards mortgage payments*</section>
          <br>
        </center>
      </section>

      <section class="row align-items-center">
        <section class="col">
          <% @houses.each do |house| %>
          <p>
          <center>
            <h5><strong><%= house.address%></strong><h5>
            <h4><span class="badge bg-success">$<%=house.listing_price %></span></h4>
            <section class="text-decoration-underline">Built In <%= house.year_built%></section>
          <center>
            <%= house.view%> view
            <br>
            <%= house.bedrooms%> bedrooms, <br>
            <%= "#{house.full_baths} Full Bath(s), #{house.half_baths} Half Bath(s)" %>
            <br>
            Contact <%= house.contact%> with inquiries! 
            <%= button_to "Save House", "/jobs/#{@job.id}/#{house.mls_id}", method: :post, class: 'btn btn-info btn-sm'%>
          </center>
          </center>
            <section class="shadow-lg p-3 mb-5 rounded">
            <% house.photos.each do |photo| %>
              <img src=<%= "#{photo}" %>>
            <% end %>
            </section>
          </p>
          <br><br>
          <% end %>
        </section>
    </section>
  <% end %>
  